


:root {
    /* Paleta de colores */
    --primario: #1073BA;
    --azulFuerte:#2063BA;
    --secundario: #00DA55;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #E1E1E1E1;
    --separacion: 5rem;
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;

    --color-fuente: #000;
    --color-fondo: #fff;
}


body {
  filter: grayscale(0);
}

/* Estilos para el modo oscuro */
body[data-tema="dark"] {
  filter: grayscale(1);
}


[tema="light"]{
  --color-fuente: #000;
  --color-fondo: #fff;
}

[tema="dark"]{
  --color-fuente: #ffffff;
  --color-fondo: #000000;
}
/* Custom Properties */



html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




body {
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
    line-height: 1.6;
    background-color:var(--color-fondo);
    color:var(--color-fuente) 
}

/*Globales*/

.video{
  width: 30rem;
  height: 20rem;
}

@media (min-width: 321px) {
  .contenedor {
    max-width: 120rem;
    /*lo maximo que puede tomar es 1200 pixeles* pero si es menos va a tomar el 90%*/
    width: 90%;
    margin: 0 auto;
}
}


h1,
h2,
h3 {
    font-weight: 900;
    font-size: var(--fuenteSecundara);
    margin: 0
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

p{
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a{
    text-decoration: none;
    display:inline;

}

/* Utilidades */

.margin-top5{
  margin-top: 6rem;
}

.btn{
    color: var(--blanco) ;
    background-color: var(--primario);
    border: 1px solid var(--azulFuerte);
    padding: 1.3rem 6rem;
    transition: background-color .3s,box-shadow .3s;
    box-shadow: 1px 1px 15px var(--primario);
   
}

.btn:hover{
    background-color: var(--azulFuerte);
    color: var(--blanco);
    box-shadow: 1px 1px 15px var(--azulFuerte);
}



/*Header*/

  
  .header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fondo);
    padding: 0 0.4rem;
    animation-duration: 3s;
    animation-name:  initial;
  }


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  

  .header__logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  


  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }
  
  .nav.show {
    margin-left: 0;
  }
  
  .nav__enlaces {
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .nav__enlace {
    margin-top: 2rem;
    color:var(--color-fuente);
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .nav__enlace::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .nav__enlace:hover::after {
    width: 100%;
  }
  
  .header__boton {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .header__boton span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--color-fuente);
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  
  .header__boton.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  
  .header__boton.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .header__boton.close span:nth-child(3) {
    display: none;
  }
  
  @media (min-width: 768px) {
    .header__boton {
      display: none;
    }
  
    .header__logo {
      flex-basis: 30%;
    }
  
    .nav {
      
      position: static;
      margin-left: 0;
      flex-basis: 60%;
      height: 100%;
      font-size: 2rem;
      align-items: center;
    }
  
    .nav__enlaces {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-between;
      background-color: var(--color-fondo);

    
    }
  
    .nav_enlace {
      display: inline-block;
      margin-top: 0rem;
      margin-right: 4rem;
    }
  }

  #switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 2rem;
  }
  
  #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--color-fuente);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color:var(--color-fondo);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-fuente);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-fuente);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* materias */

.materias{
    margin-top:var(--separacion) ;
}

.materias__header{
  text-align: center;
  padding: 4rem
}

.listado__grid{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 3rem;
}

@media (min-width: 998px) {
  .listado__grid{
    grid-template-rows: unset;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
  }
}

.listado__contenedor{
  padding: 3rem 2rem ;
  border: 1px solid var(--grisClaro);
  border-radius: 1rem;
  box-shadow: 1px 1px 15px 10px var(--grisClaro);
  text-align: justify;
}

.listado__titulo{
  text-align: center;
}

.listado__flex{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

    padding: 3rem;
    border: 1px solid var(--grisClaro);
    border-radius: 1rem;
    box-shadow: 1px 1px 15px 10px var(--grisClaro);
   
    gap: 6rem;
}

.listado__flex--index{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 6rem;
}


.listado__contenido{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  align-items: center;
}


.listado__colores{
  background-color: #ff6961;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
}

.listado__colores--amarillo{
  background-color: #FDFD96 ;
}

.listado__colores--negro{
  background-color:var(--negro) ;
}

.listado__colores--rosita{
  background-color: pink;
}


.listado__colores--naranja{
  background-color: #f7bd56 ;
}

.listado__colores--verde{
  background-color: #bdecb6;
}

.listado__colores--cafe{
  background-color: #8d4925 ;
}

.listado__colores--gris{
  background-color: #9c9c9c;
}

.listado__colores--morado{
  background-color: #a18594 ;
}

.listado__colores--azul{
  background-color: #779ecb;
}
.listado__imagen{
    width: 20rem;
}


@media (min-width: 768px) {
  .listado__imagen{
    width:24rem;
  }

  .listado__parrafo{
    padding: 0  5rem
    ;
  }

  .listado__flex--row{
    flex-direction: row;
  }
}

/* Alfabeto */

.alfabeto{
  padding: 3rem 2rem ;
  border: 1px solid var(--grisClaro);
  border-radius: 1rem;
  box-shadow: 1px 1px 15px 10px var(--grisClaro);
  margin-bottom: 4rem;
}

@media (min-width: 768px){
  .alfabeto{
    margin-bottom: 10rem;
  }
}

.alfabeto__heading{
  text-align: center;
 
}

.alfabeto__grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .alfabeto__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-self: center;
    
  
  }

  .alfabeto__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

.alfabeto__imagen{
  width: 20rem;
}
@media (min-width: 768px){
  .alfabeto__imagen{
    width: 25rem;
  }
}
.alfabeto__imagen{
  display: grid;
  place-self: center;
}


.alfabeto__contenido{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

/*Numeros*/

.numeros__heading{
  text-align: center;
  padding: 4rem 0;
}

.listado__parrafo--numeros{
  font-size:3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listado__parrafo--span{
  font-size: 1.6rem;
}

.listado__contenido{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


/* colores */

.colores__heading{
  text-align: center;
}

/* footer */

.footer{
  border-top: 1px solid var(--grisClaro);
}

.footer__contenedor{
  padding: 5rem 0;
}

.footer__parrafo{
  text-align: center;
}

/*Videos*/
